.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 24px;
}

.h1 {
  margin-bottom: 0px;
}

.explain {
  font-size: 1.125rem;
}

.purple {
  color: #9f2c9d;
}

.divider {
  width: 50%;
  border-color: grey;
  opacity: 0.25;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #e5e5ea;
  background-image: linear-gradient(to left, #cc25b3 0%, #418dff 101.52%);
  color: #fff;
  width: 180px;
  text-align: center;
  border-radius: 9999px;
}

.mainButton:hover {
  opacity: 0.8;
}

.secondaryButton {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: #fff;
  font-weight: 600;
}

.textInput {
  width: 75%;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
  margin-bottom: 16px;
}

.nftBoxGrid {
  width: 1200px;
  max-width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  margin-top: 28px;
  flex-wrap: wrap;
}

.nftBox {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 19%;
  min-height: 200px;
}

.nftMedia {
  height: 120px;
  border-radius: 12px;
  width: 100%;
  object-fit: contain;
}

.spacerTop {
  margin-top: 32px;
}

/* Between 1200 and 800 */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .nftBox {
    width: 49%;
    margin-top: 16px;
  }
}

/* beneath 800
*/
@media only screen and (max-width: 800px) {
  .nftBoxGrid {
    justify-content: center;
  }
  .nftBox {
    width: 90%;
    margin-top: 16px;
  }
}
